<header class="flex">
    <div id="top-nav-holder" style="background-color: #111111; height: 200px;" class="wf">
        <nav id="top-nav" class="flex justify-around">
            <ul class="flex no-bullet">
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>

            <ul class="flex no-bullet">
                <li><a href="">Buscar una tienda</a></li>
                <li><a href="">Ayuda</a></li>
                <li><a href="">Únete a nosotros</a></li>
                <li><a href="">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </div>
    <div style="background-color: #1F1F21; height: 200px;" class="wf">
        <nav id="main-nav">

        </nav>
    </div>
</header>