<header class="flex">
    <div id="top-nav-holder" class="wf">
        <nav id="top-nav" class="flex justify-between">
            <ul id="other-logos" class="flex no-bullet">
                <li><a href=""><app-jordan-svg style="filter: var(--filter);"></app-jordan-svg></a></li>
                <li>
                    <a href=""><app-converse-svg style="filter: var(--filter);"></app-converse-svg></a>
                </li>
            </ul>

            <ul class="flex no-bullet subnav">
                <li><a href="">Buscar una tienda</a></li>
                <li><a href="">Ayuda</a></li>
                <li><a href="">Únete a nosotros</a></li>
                <li><a href="">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </div>
    <div id="main-nav-holder" class="wf">
        <nav id="main-nav" class="flex justify-between">
            <!-- Logo Holder -->
            <div id="logo-holder">
                <a href=""><app-nike-svg style="filter: var(--filter);"></app-nike-svg></a>
            </div>

            <!-- Nav and Other Holder -->
            <div id="main-subnav" class="flex justify-between">
                <nav>
                    <ul class="flex justify-evenly no-bullet">
                        <li><a [href]="SITE_URL + '/home'">Home</a></li>
                        <li><a [href]="SITE_URL + '/products'">Products</a></li>
                        <li><a [href]="SITE_URL + '/admin'">Admin</a></li>
                    </ul>
                </nav>
                <div>
                    <h1>TSEST</h1>
                </div>
            </div>
        </nav>
    </div>
</header>