header {
    #top-nav-holder {
        background-color: var(--bg-secondary);
    }

    #main-nav-holder {
        background-color: var(--bg-primary);
    }

    #top-nav {
        margin: 0 auto;
        width: min(95%, 1440px);
        padding: 5px 10px;

        li {
            font-size: 0.8rem;
            font-weight: 700;
        }

        #other-logos li {
            margin: 0 10px;
        }

        .subnav li+li::before {
            margin: 0 10px;
            content: "|";
        }
    }

    #main-nav {
        #logo-holder {
            margin: 0 50px;
        }
    }
}