<footer>
    <div class="whitespace"></div>
    <hr>
    <div id="footer-nav" class="flex justify-between align-top">
        <div id="footer-subnav" class="flex justify-evenly">
            <ul class="no-bullet">
                <li>Recursos</li>
                <li>Tarjetas de Regalo</li>
                <li>Tarjetas de Regalo Corporativas</li>
                <li>Buscar una Tienda</li>
                <li>Nike Journal</li>
                <li>Hazte Member</li>
                <li>Descuento para Estudiantes</li>
                <li>Comentarios</li>
                <li>Códigos Promocionales</li>
            </ul>
            <ul class="no-bullet">
                <li>Ayuda</li>
                <li>Obtener Ayuda</li>
                <li>Estado del Pedido</li>
                <li>Envíos y Entregas</li>
                <li>Devoluciones</li>
                <li>Opciones de Pago</li>
                <li>Contacto</li>
                <li>Evaluaciones</li>
                <li>Ayuda con los Códigos Promocionales de Nike</li>
            </ul>
            <ul class="no-bullet">
                <li>Empresa</li>
                <li>Acerca de Nike</li>
                <li>Novedades</li>
                <li>Empleo</li>
                <li>Inversores</li>
                <li>Sostenibilidad</li>
                <li>Propósito</li>
                <li>Informar de un Problema</li>
            </ul>
        </div>
        <span>España</span>
    </div>
</footer>