footer {
    background-color: var(--bg-primary);
    width: 100%;
    margin-top: 20px;

    #footer-subnav {
        width: 70%;

        ul li {
            font-weight: bold;
            line-height: 2rem;
            color: #333;
        }

        ul li:first-child {
            margin-bottom: 20px;
            color: #111;
        }
    }
}