<main id="admin" class="flex">
    <form [formGroup]="createProductForm" (ngSubmit)="submitCreate()" class="flex col">
        <h1>Nuevo Producto</h1>

        <!-- ID -->
        <div>
            <label for="id">Nº de Referencia</label>
            <input formControlName="id" id="id">
        </div>
        @if (createProductForm.get('id')?.invalid && createProductForm.get('id')?.touched) {
        <div *ngIf="createProductForm.get('id')?.errors?.['required']" class="error-message">
            El ID es obligatorio.
        </div>
        <div *ngIf="createProductForm.get('id')?.errors?.['minlength']" class="error-message">
            Debe tener al menos 3 caracteres.
        </div>
        }

        <!-- Name -->
        <div>
            <label for="name">Nombre</label>
            <input formControlName="name" id="name">
        </div>
        @if (createProductForm.get('name')?.invalid && createProductForm.get('name')?.touched) {
        <div *ngIf="createProductForm.get('name')?.errors?.['required']" class="error-message">
            El nombre es obligatorio.
        </div>
        <div *ngIf="createProductForm.get('name')?.errors?.['minlength']" class="error-message">
            Debe tener al menos 3 caracteres.
        </div>
        }

        <!-- Price -->
        <div>
            <label for="price">Precio</label>
            <input formControlName="price" id="price">
        </div>
        @if (createProductForm.get('price')?.invalid && createProductForm.get('price')?.touched) {
        <div *ngIf="createProductForm.get('price')?.errors?.['required']" class="error-message">
            El precio es obligatorio.
        </div>
        <div *ngIf="createProductForm.get('price')?.errors?.['min']" class="error-message">
            Debe tener un valor mínimo de 1.
        </div>
        }

        <!-- Description -->
        <div>
            <label for="description">Descripción</label>
            <input type="textarea" id="description" formControlName="description">
        </div>
        @if (createProductForm.get('description')?.invalid && createProductForm.get('description')?.touched) {
        <div *ngIf="createProductForm.get('description')?.errors?.['required']" class="error-message">
            La descripción es obligatoria.
        </div>
        <div *ngIf="createProductForm.get('description')?.errors?.['maxlength']" class="error-message">
            Debe tener un máximo de 500 caracteres.
        </div>
        }

        <!-- Type -->
        <div>
            <label for="type">Tipo de Producto</label>
            <input id="type" name="type" formControlName="type">
        </div>
        @if (createProductForm.get('type')?.invalid && createProductForm.get('type')?.touched) {
        <div *ngIf="createProductForm.get('type')?.errors?.['required']" class="error-message">
            El tipo de producto es obligatorio.
        </div>
        }

        <!-- Offer -->
        <div>
            <label for="offer">Producto de Oferta</label>
            <input type="checkbox" id="offer" formControlName="offer">
        </div>

        <!-- Image -->
        <div>
            <label for="image">Imagen del Producto</label>
            <input type="file" id="image" formControlName="imageUrl">
        </div>
        @if (createProductForm.get('imageUrl')?.invalid && createProductForm.get('imageUrl')?.touched) {
        <div *ngIf="createProductForm.get('imageUrl')?.errors?.['required']" class="error-message">
            La imagen del producto es obligatoria.
        </div>
        <div *ngIf="createProductForm.get('imageUrl')?.errors?.['pattern']" class="error-message">
            El archivo no tiene el formato aceptado.
        </div>
        }

        <button type="submit" [disabled]="createProductForm.invalid">Añadir</button>
    </form>

    <form [formGroup]="deleteProductForm" (ngSubmit)="submitDelete()" class="flex col">
        <h1>Eliminar Producto</h1>
        
        <!-- ID -->
        <div>
            <label for="id">Nº de Referencia</label>
            <input formControlName="id" id="id">
        </div>
        @if (deleteProductForm.get('id')?.invalid && deleteProductForm.get('id')?.touched) {
        <div *ngIf="deleteProductForm.get('id')?.errors?.['required']" class="error-message">
            El ID es obligatorio.
        </div>
        <div *ngIf="deleteProductForm.get('id')?.errors?.['minlength']" class="error-message">
            Debe tener al menos 3 caracteres.
        </div>
        }

        <button type="submit" [disabled]="deleteProductForm.invalid">Añadir</button>
    </form>
</main>