<main id="admin" class="flex">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="flex col">
        <h1>Nuevo Producto</h1>

        <!-- ID -->
        <div>
            <label for="id">Nº de Referencia</label>
            <input formControlName="id" id="id">
        </div>
        @if (productForm.get('id')?.invalid && productForm.get('id')?.touched) {
        <div *ngIf="productForm.get('id')?.errors?.['required']" class="error-message">
            El nombre es obligatorio.
        </div>
        <div *ngIf="productForm.get('id')?.errors?.['minlength']" class="error-message">
            Debe tener al menos 3 caracteres.
        </div>
        }

        <!-- Name -->
        <div>
            <label for="name">Nombre</label>
            <input formControlName="name" id="name">
        </div>
        @if (productForm.get('name')?.invalid && productForm.get('name')?.touched) {
        <div *ngIf="productForm.get('name')?.errors?.['required']" class="error-message">
            El nombre es obligatorio.
        </div>
        <div *ngIf="productForm.get('name')?.errors?.['minlength']" class="error-message">
            Debe tener al menos 3 caracteres.
        </div>
        }

        <!-- Price -->
        <div>
            <label for="price">Precio</label>
            <input formControlName="price" id="price">
        </div>
        @if (productForm.get('price')?.invalid && productForm.get('price')?.touched) {
        <div *ngIf="productForm.get('price')?.errors?.['required']" class="error-message">
            El precio es obligatorio.
        </div>
        <div *ngIf="productForm.get('price')?.errors?.['min']" class="error-message">
            Debe tener un valor mínimo de 1.
        </div>
        }

        <!-- Description -->
        <div>
            <label for="description">Descripción</label>
            <input type="textarea" id="description" formControlName="description">
        </div>
        @if (productForm.get('description')?.invalid && productForm.get('description')?.touched) {
        <div *ngIf="productForm.get('description')?.errors?.['required']" class="error-message">
            La descripción es obligatoria.
        </div>
        <div *ngIf="productForm.get('description')?.errors?.['maxlength']" class="error-message">
            Debe tener un máximo de 500 caracteres.
        </div>
        <div *ngIf="productForm.get('description')?.errors?.['pattern']" class="error-message">
            Tu descripción es inapropiada.
        </div>
        }

        <!-- Type -->
        <div>
            <label for="type">Tipo de Producto</label>
            <input id="type" name="type" formControlName="type">
        </div>
        @if (productForm.get('type')?.invalid && productForm.get('type')?.touched) {
        <div *ngIf="productForm.get('type')?.errors?.['required']" class="error-message">
            El tipo de producto es obligatorio.
        </div>
        }

        <!-- Discount -->
        <div>
            <label for="discount">Producto de Oferta</label>
            <input type="checkbox" id="discount" formControlName="discount">
        </div>

        <!-- Image -->
        <div>
            <label for="image">Imagen del Producto</label>
            <input type="file" id="image" formControlName="imageUrl">
        </div>
        @if (productForm.get('imageUrl')?.invalid && productForm.get('imageUrl')?.touched) {
        <div *ngIf="productForm.get('imageUrl')?.errors?.['required']" class="error-message">
            La imagen del producto es obligatoria.
        </div>
        <div *ngIf="productForm.get('imageUrl')?.errors?.['pattern']" class="error-message">
            El archivo no tiene el formato aceptado.
        </div>
        }

        <button type="submit">Añadir</button>
    </form>
</main>